@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('https://images.pexels.com/photos/273811/pexels-photo-273811.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 560px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}


.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 40px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.add_recipe2_btn {
    color: black;
    background-color: #FFC312;
    width: 120px;
}

.add_recipe2_btn:hover {
    color: black;
    background-color: white;
}
