@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/04/04/69918/a7ce8da7049d2828470b6a2bf287453c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 380px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}



.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.terms_and_conditions{
    color: white;
    font-size: 12px;
}

.terms_and_conditions input
{
    width: 20px;
    height: 20px;
    margin-left: 13px;
    margin-right: 5px;
}

.register_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.register_btn:hover{
    color: black;
    background-color: white;
}

