<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" modelType="text/css"/>
    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script modelType="application/javascript" async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<form class="form-horizontal" th:object="${recipe}" th:action="${/recipe}" method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="name">Name</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="" class="input-xlarge" th:field="*{name}">
                <p class="help-block">Insert a name for the recipe</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input type="text" id="description" name="description" placeholder="" class="input-xlarge" th:field="*{description}">
                <p class="help-block">Insert a description</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="firstIngredient">First ingredient</label>
            <div class="controls">
                <input type="password" id="firstIngredient" name="firstIngredient" placeholder="" class="input-xlarge" th:field="*{firstIngredient}">
                <p class="help-block">Insert the ingredient</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="secondIngredient">Second ingredient</label>
            <div class="controls">
                <input type="password" id="secondIngredient" name="secondIngredient" placeholder="" class="input-xlarge" th:field="*{secondIngredient}">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="thirdIngredient">Third Ingredient</label>
            <div class="controls">
                <input type="password" id="thirdIngredient" name="thirdIngredient" placeholder="" class="input-xlarge" th:field="*{thirdIngredient}">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="fourthIngredient">Fourth ingredient</label>
            <div class="controls">
                <input type="password" id="fourthIngredient" name="fourthIngredient" placeholder="" class="input-xlarge" th:field="*{fourthIngredient}">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="fifthIngredient">Fifth ingredient</label>
            <div class="controls">
                <input type="password" id="fifthIngredient" name="fifthIngredient" placeholder="" class="input-xlarge" th:field="*{fifthIngredient}">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register Ingredient</button>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>